<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">Product Search Form</div>
            <div class="card-body">
                <div class="alert alert-info mb-2" v-if="in_progress && records.length === 0">
                    <p class="m-0">Search query is in progress. Please be patient you can review search results once it is ready via queue.</p>
                </div>
                <div class="alert alert-danger mb-2" v-if="empty_search">
                    <p class="m-0">Empty result - unfortunately search job return with empty data. Please try again with revised parameters.</p>
                </div>
                <form autocomplete="off" @submit.prevent="product" method="post">
                    <div class="form-group">
                        <label for="product_name">Search</label>
                        <input type="text" id="product_name" class="form-control" placeholder="CASIO" v-model="product_name">
                    </div>
                    <div class="form-group">
                        <label for="price">Max Price</label>
                        <input type="text" id="price" class="form-control" placeholder="upto 20000" v-model="price">
                    </div>
                    <div class="form-group">
                        <label for="rating">Max Rating</label>
                        <input type="text" id="rating" class="form-control" placeholder="Range 1 to 5" v-model="rating">
                    </div>
                    <button type="submit" class="btn btn-primary">Start Search</button>
                </form>
                <div class="table-responsive mt-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="" v-if="records.length === 0">
                                <td class="lead text-center" colspan="4">No data found.</td>
                            </tr>
                            <tr v-for='record in records'>
                                <td>{{record.name}}</td>
                                <td>{{record.detail}}</td>
                                <td>{{record.amount}}</td>
                                <td>{{record.rating}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                product_name: null,
                price: null,
                rating: null,
                has_error: false,
                show_data: null,
                in_progress: false,
                empty_search: false,
                records: [],
            }
        },
        mounted() {

        },
        methods: {
            product(e) {
                e.preventDefault();
                let currentObj = this;
                axios.post('/auth/search', {
                    product_name: this.product_name,
                    price: this.price,
                    rating: this.rating
                })
                .then(function (response) {
                    currentObj.records = [];
                    currentObj.empty_search = false;
                    currentObj.in_progress = true;
                })
                .catch(function (error) {
                    currentObj.output = error;
                });
                /*var channel = Echo.channel('search');
                channel.listen('.propogate',(e) => {
                    console.log('Event is triggered!');
                });*/
                /*Pusher.logToConsole = true;

                var pusher = new Pusher('afa34afeb2a57bd24f83', {
                    cluster: 'ap2',
                    forceTLS: true
                });*/

                /*var channel = Echo.channel('search-channel');
                channel.listen('.propogate', function(data) {
                    alert(JSON.stringify(data));
                });*/

                var channel = Echo.channel('laravel_database_search-channel');
                channel.listen('.propogate', function(data) {
                    var response = JSON.parse(data.message);
                    if(response.data.length === 0){
                        currentObj.in_progress = false;
                        currentObj.empty_search = true;
                        return;
                    }
                    else{
                        currentObj.records = response.data
                    }
                });

                /*var channel = Echo.channel('search-channel');
                channel.listen('.propogate', function(data) {
                    console.log(data);
                });*/

                /*var channel = pusher.subscribe('search-channel');
                channel.bind('propogate', function(data) {
                    app.messages.push(JSON.stringify(data));
                });*/
                /*Echo.channel('search')
                    .listen('.propogate', (e)  => console.log('IT WORKS!'))*/
            }
        }
    }
</script>
