<template>
    <div class="container">
        <div id="main">
            <div class="container">
                <header id="header" class="d-flex justify-content-between align-items-center">
                    <h1>
                        <router-link :to="{name: 'home'}" class="text-dark">Laravel</router-link>
                    </h1>
                    <navigationMenu></navigationMenu>
                </header>
            </div>
            <div id="content">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    import navigationMenu from './components/Menu.vue'
    export default {
        name: "Demo",
        data() {
            return {
                //
            }
        },
        components: {
            navigationMenu
        }
    }
</script>
