<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">Welcome User!</div>
            <div class="card-body">
                <p>
                    Please login/register to access dashboard. After login, you can set search Jobs and receive results accordingly.
                </p>
            </div>
        </div>
    </div>
</template>
