<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">SignUp</div>

            <div class="card-body">
                <div class="alert alert-danger" v-if="has_error && !success">
                    <p class="m-0" v-if="error == 'registration_validation_error'">Validation error(s), please see the message(s) below.</p>
                    <p class="m-0" v-else>Error, unable to register at this time. If the problem persists, please contact support team.</p>
                </div>

                <form autocomplete="off" @submit.prevent="register" v-if="!success" method="post">

                    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.name }">
                        <label for="name">Full Name</label>
                        <input type="text" id="name" class="form-control" placeholder="John Doe" v-model="name" required>
                        <span class="help-block text-danger" v-if="has_error && errors.name">{{ errors.name }}</span>
                    </div>

                    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.email }">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
                        <span class="help-block text-danger" v-if="has_error && errors.email">{{ errors.email }}</span>
                    </div>

                    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.password }">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" v-model="password" required>
                        <span class="help-block text-danger" v-if="has_error && errors.password">{{ errors.password }}</span>
                    </div>

                    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.c_password }">
                        <label for="c_password">Confirm Password</label>
                        <input type="password" id="c_password" class="form-control" v-model="c_password" required>
                        <span class="help-block text-danger" v-if="has_error && errors.c_password">{{ errors.c_password }}</span>
                    </div>

                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                name: '',
                email: '',
                password: '',
                c_password: '',
                has_error: false,
                error: '',
                errors: {},
                success: false
            }
        },
        methods: {
            register() {
                var app = this
                this.$auth.register({
                    data: {
                        name: app.name,
                        email: app.email,
                        password: app.password,
                        c_password: app.c_password
                    },
                    success: function () {
                        app.success = true
                        this.$router.push({name: 'login', params: {successRegistrationRedirect: true}})
                    },
                    error: function (res) {
                        console.log(res.response.data.errors)
                        app.has_error = true
                        app.error = res.response.data.error
                        app.errors = res.response.data.errors || {}
                    }
                })
            }
        }
    }
</script>
